<%= form_for(@season) do |f| %>
  <%= render 'shared/errors', object: f.object %>

  <p><%= f.label :name %> <%= f.text_field :name, placeholder: "Name your new season..." %></p>

  <p><%= f.submit "Create Season" %></p>
  <!-- ON SUBMIT GO TO CREATE LEAGUES -->
<% end %>
