<h1>Reset password</h1>

<%= form_for(@player, url: password_reset_path(params[:id])) do |f| %>
  <%= render 'shared/errors', object: f.object %>

  <%= hidden_field_tag :email, @player.email %>

  <p><%= f.label :password %> <%= f.password_field :password %></p>
  <p><%= f.label :password_confirmation %> <%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Update password" %></p>

<% end %>
