<h3>Add <%= season_has_league? ? "another" : "a" %> league</h3>

<%= form_for([@season, @season.leagues.build]) do |f| %>
  <p><%= f.label :name %> <%= f.text_field :name %></p>

  <% if season_has_league? %>
    <p><%= f.label :rel_places, "Relegation places:" %> <%= f.number_field :rel_places %></p>
    <p><%= f.label :rel_playoff_places, "Relegation Playoff places:" %> <%= f.number_field :rel_playoff_places %></p>
    <p><%= f.label :rel_to, "Relegate to:" %> <%= f.number_field :rel_to %></p>

    <p><%= f.label :promo_places, "Promotion places:" %> <%= f.number_field :promo_places %></p>
    <p><%= f.label :promo_playoff_places, "Promotion Playoff places:" %> <%= f.number_field :promo_playoff_places %></p>
    <p><%= f.label :promo_to, "Promote to:" %> <%= f.number_field :promo_to %></p>
  <% end %>

  <p><%= f.submit "Add League" %></p>
  <!-- ON SUBMIT, ADD CURRENT PLAYERS TO LEAGUE -->
  <!-- CREATE FIXTURES AFTER LEAGUE IS FINALISED -->
<% end %>
