<h1>Fixtures</h1>

<%= link_to "New Fixture", new_fixture_path %>

<table>
  <tr>
    <th colspan="2">Home</th>
    <th colspan="2">Away</th>
    <th colspan="3"></th>
  </tr>

  <% @fixtures.each do |fixture| %>
    <tr>
      <td>Home</td>
      <td><%= fixture.home_goals %></td>
      <td><%= fixture.away_goals %></td>
      <td>Away</td>
      <td><%= link_to "Show", fixture_path(fixture) %></td>
      <td><%= link_to "Edit", edit_fixture_path(fixture) %></td>
      <td><%= link_to "Delete", fixture_path(fixture), method: :delete, data: { confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>
</table>
