<h1>Hello, Rails!</h1>

<nav>
  <ul>
    <li><%= link_to "Players", controller: "players" %> <%= link_to "[new]", new_player_path %></li>
    <li><%= link_to "Leagues", controller: "leagues" %> <%= link_to "[new]", new_league_path %></li>
    <li><%= link_to "Seasons", controller: "seasons" %> <%= link_to "[new]", new_season_path %></li>
    <li><%= link_to "Fixtures", controller: "fixtures" %> <%= link_to "[new]", new_fixture_path %></li>
  </ul>
</nav>
