<%= link_to "New Player", new_player_path %>

<p><%= @player.name %> - <%= @player.email %></p>
<p><strong>Team:</strong> <%= @player.team %></p>

<%= link_to "Edit", edit_player_path(@player) %> | <%= link_to "Back", players_path %>
