<%= link_to "New Player", new_player_path %>

<p class="player-meta"><span class="player-meta__name"><%= @player.name %></span> - <span class="player-meta__email"><%= @player.email %></span></p>
<p><strong>Team:</strong> <%= @player.team %></p>

<% if @player.seasons.any? %>
  <h3>Seasons</h3>
  <%= render @seasons %>
  <%= will_paginate @seasons %>
<% end %>

<%= link_to "Edit", edit_player_path(@player) %> | <%= link_to "Back", players_path %>
