<!DOCTYPE html>
<html>
<head>
  <title>LeagueTable</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="app">
    <header class="app__header">
      <%= link_to "Home", root_path %> | <%= link_to "Login", "#" %> | <%= link_to "Signup", signup_path %>
    </header>

    <% flash.each do |message_type, message| %>
      <aside>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      </aside>
    <% end %>

    <div class="app__page">
      <%= yield %>
    </div>

    <div class="app__footer"></div>
  </div>

  <%= debug(params) if Rails.env.development? %>
</body>
</html>
